*{
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
}
main{
    width: 100%;
    height: 460px;
    justify-items: center;
}
.main-background{
    background-color: #f5f5f5;
}
.container{
    height: inherit;
    width: 65%;
}
nav{
    display: flex;
    column-gap: 40px
}
h2{
    padding: 30px 0 30px 0;
    color: #5b5a5a;
}
h3{
    font-weight: normal;
    color: #5b5a5a;
    padding-bottom: 10px;
    font-family: 'Segoe UI';
    transition: transform 0.3s, font-weight 0s;
}
h3:hover{
    transform: translateY(-3px -3px -3px -3px);
    color: #0073e6;
}
hr{
    color: #f5f5f5;
    border-width: 1px;
}
.cars{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(2,1fr);
    justify-items: center;
    align-items: center;
    gap: 15px;
    margin: 30px 0 0 0;
}
.car_boxes{
    width: 150px;
    height: 120px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    transition: transform 0.2s, box-shadow 0.2s;
}
.car_boxes:hover{
    transform: translate(-2px -2px -2px -2px);
    box-shadow: 0 4px 8px rgb(84,84,84);
}
.cars_icon{
    width: 70px;
}
p{
    font-weight: normal;
    font-family: 'Segoe UI';
    padding-top: 10px;
    padding-left: 2px;
    color: #5b5a5a;
}
section{
    width: 100%;
    height: 720px;
    justify-items: center;
}
.pakwheels-offerings {
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 17px;
    justify-items: center;
    align-items: center;
  }
  
  /* Individual Cards */
  .offering-card {
    display: flex;
    height: 100px;
    width: 485px;
    border: 1px solid rgb(215, 213, 213) ;
    align-items: center;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 12px;

  }
  
  .offering-card img {
    height: 58px;
    width: 120px;
    padding-left: 0;
  }
  #image{
    width: 120px;
    height: 100px;
    padding-left: 0;

  }
  
  .offering-card h3 {
    color: #0073e6; /* Blue heading color */
    font-weight: normal;
    font-size: 15px;
    position: relative;
    top: -6px;
    left: 18px;
  }
  
  .offering-card p {
    margin-left: -55px;
    margin-top: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    
  }
  
  /* Hover Effects */
  .offering-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  .ad-main-container{
    width: 100%;
    height: 420px;
    justify-items: center;
    background-color: #f5f5f5;
  }
  .ad-heading{
    margin-right: 805px
  }
  .ad-container{
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    margin-right: 17px;
  }
  .ad-cards{
    width: 250px;
   height: 290px;
    background-color: white;
    border: 1px solid white;
    border-radius: 12px;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  .ad-cards:hover{
    transform: translateY(-5px);
  }
  .ad-pictures{
    width: 100%;
    margin-bottom: 10px;
  }
  .ad-cards h3{
    font-size: 18px;
    color: #324a84;
    font-weight: 650;
    margin-left: 5px;
    margin-bottom: 0px;
  }
  .ad-cards .price{
    font-size: 16px;
    color: #4ebb58;
    font-weight: normal;
    margin-top: -12px;
    margin-left: 3px;
  }
  .ad-cards .city{
    font-size: 14px;
    color: #8c93a4;
    font-weight: 500;
    margin: -5px 0 0 3px;
  }
  .badge{
    position: absolute;
    background-color: #b73439;
    color: white;
    font-size: 15px;
    padding: 5px 10px;
    font-weight: 600;
  }


  .featured-main-container{
    width: 100%;
    height: 430px;
    justify-items: center;
    background-color: white;
  }
  .featured-heading{
    margin-right: 760px;
  }
  .featured-container{
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    margin-right: 17px;
  }
  .featured-cards{
    width: 250px;
   height: 290px;
    background-color: white;
    border: 1px solid white;
    border-radius: 12px;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  .featured-cards:hover{
    transform: translateY(-5px);
  }
  .featured-pictures{
    width: 100%;
    margin-bottom: 10px;
  }
  .featured-cards h3{
    font-size: 18px;
    color: #324a84;
    font-weight: 650;
    margin-left: 5px;
    margin-bottom: 0px;
  }
  .featured-cards .price{
    font-size: 16px;
    color: #4ebb58;
    font-weight: normal;
    margin-top: -12px;
    margin-left: 3px;
  }
  .featured-cards .city{
    font-size: 14px;
    color: #8c93a4;
    font-weight: 500;
    margin: -5px 0 0 3px;
  }
  .badge{
    position: absolute;
    background-color: #b73439;
    color: white;
    font-size: 15px;
    padding: 5px 10px;
    font-weight: 600;
  }
  .new-main-container{
    width: 100%;
    height: 480px;
    justify-items: center;
    background-color: #f5f5f5;
  }
  .new-heading-nav{
    width: 100%;
    height: 130px;
    /* border: 1px solid; */
    padding-left: 270px;
  }
  .new-heading{
    color: #5b5a5a;
  }
  .new-container{
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    margin-right: 17px;
    margin-top: 10px;
  }

  .new-cards{
    width: 250px;
   height: 290px;
    background-color: white;
    border: 1px solid white;
    border-radius: 12px;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
  }
  .new-cards:hover{
    transform: translateY(-5px);
  }
  .new-pictures{
    width: 100%;
    margin-bottom: 10px;
  }
  .new-cards h3{
    font-size: 18px;
    color: #324a84;
    font-weight: 650;
    margin-left: 5px;
    margin-bottom: 0px;
    margin-top: -18px;
  }
  .new-cards .price{
    font-size: 16px;
    color: #4ebb58;
    font-weight: normal;
    margin-top: -15px;
    margin-left: 3px;
  }
  .new-cards .rating{
    font-size: 14px;
    color: #5b5a5a;
    font-weight: 550;
    margin-top: -11px;
  }
  .checked{
    color: orange;
  }
  .star{
    display: flex;
    justify-content: center;
    margin-top: 7px;
  }
  




  .car-brands-main-container{
    width: 100%;
    height: 1500px;
    justify-items: center;
    background-color: #f5f5f5;
    margin-top: 20pxv;
    
  }
  .car-brands-heading{
    margin-right: 867px;
  }
  .car-brands-container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6,1fr);
    gap: 90px;
    margin-top: 10px;
  }
  .car-brands-card{
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid white;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .car-brands-pictures{
    width: 68px;
    object-fit: contain;
  }
  
  